.Mapper {
  position: absolute;
  width: 55%;
  height: 100%;
  top: 0;
  right: 0;
}

@media only screen and (max-width: 1016px) {
  .Mapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
  }
  .gmnoprint {
    display: none !important;
  }
}
